 @import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
/* -- BASE STYLES -- */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Noto Sans Japanese', sans-serif;
}

body {
  color: #7f8c8d;
  font-size: 16px;
  line-height: 1.7em;
  background-color: #ecf0f1;
}

h1 {
  color: #34495e;
}

h2 {
  color: #34495e;
}

h3 {
  max-width: 620px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pure-img-responsive {
  height: auto;
  max-width: 100%;
  margin-top: 30px;
}



/* -- LAYOUT STYLES -- */
.l-box {
  padding-left: 1em;
  padding-right: 1em;
}

.is-center {
  text-align: center;
}


/* -- PURE FORM STYLES -- */
.header .pure-form input[type] {
  color: #34495e;
  width: 200px;
  height: 20px;
  border: 1px solid #ddd;
  font-size: 60%;
  box-shadow: none;
  margin-bottom: 0em;
}

.pure-menu-heading.pure-form {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: auto;
}

search .search {
  position: relative;
}

/* -- PURE BUTTON STYLES -- */
.search-btn {
  border-style: none;
  background-color: rgba(0,0,0,0);
  position: absolute;
  top: 11px;
  left: 180px;
  color: #7f8c8d
}

.pure-button {
  background-color: #1f8dd6;
  margin: 15px;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 1px 0px, rgba(0, 0, 0, 0.14902) 0px 1px 10px 0px;
}


/* -- MENU STYLES -- */
.home-menu {
  box-shadow: 1px 2px 3px rgba(0,0,0, 0.3);
  background: #2d3e50;
}
.pure-menu-horizontal.pure-menu-scrollable {
  padding: 0px;
}

.pure-menu.pure-menu-fixed {
  border-bottom: none;
  z-index: 4;
}

.home-menu .pure-menu-heading {
  color: white;
  padding: 7px 10px;
  font-size: 120%;
  font-weight: 400;
}

.home-menu .pure-menu-selected a {
  color: white;
}

.home-menu a {
  color: #6FBEF3;
}

.home-menu li a:hover, .home-menu li a:focus {
  color: #AECFE5;
  border: none;
  background: none;
}

.pure-menu-list {
  position: absolute;
  left: 80%;
}

.fa.fa-arrows-h.fa-lg {
  color: #AECFE5;
}

/* -- CONTENT STYLES -- */
.content-wrapper {
  width: 100%;
  z-index: 2;
  position: absolute;
  background: white;
  margin-top: 40px;
  background-color: #ecf0f1;
}

.content-head {
  padding-bottom: 5px;
  margin-top: 1.4em;
  margin-bottom: 1.4em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
}

.content {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.content-subhead {
  color: #1f8dd6;
}

.content-subhead a {
  color: #1f8dd6;
  text-decoration: none;
}

.content-subhead a:hover {
  color: #6FBEF3;
  text-decoration: none;
}

.content-subhead i {
  margin-right: 3px;
}

.article {
  background-color: #fff;
  width: 640px;
  height: auto;
  position: relative;
  margin-bottom: 12px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 1px 0px, rgba(0, 0, 0, 0.14902) 0px 1px 10px 0px;
}

.footer {
  color: white;
  padding: 0.5em;
  text-align: center;
  box-shadow: 1px 2px 3px rgba(0,0,0, 0.3);
  background: #2d3e50;
}

/* -- TABLET (AND UP) MEDIA QUERIES -- */
@media (max-width: 600px) and (orientation: portrait) {
  body {
    font-size: 12px;
  }

  .search-btn {
    top: 8px;
    left: 180px;
  }
}

/* xperia z1f  */
@media (max-width: 360px) and (orientation: portrait) {
  body {
    font-size: 12px;
  }

  .header .pure-form input[type] {
    width: 120px;
  }

  .pure-menu-heading.pure-form {
    margin-left: -50px;
  }

  .search-btn {
    top: 0px;
    left: 100px;
  }
}

@media (max-width: 600px) and (orientation: landscape) {
  body {
    font-size: 12px;
  }

  .search-btn {
    top: 10px;
    left: 180px;
  }
}
